fastapi
uvicorn
pytest 
httpx

# LangChain and its dependencies
langchain
langchain-community
langchain-experimental
openai
pandas

python-dotenv  # for managing API keys
aiohttp  # used internally by some LangChain LLMs
tabulate